<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eShop</title>

    <environment include="Development">
        <link href="~/images/favicon.ico" rel="shortcut icon">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <link href="~/css/custom.css" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link href="~/images/favicon.ico" rel="shortcut icon">

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
        @RenderBody()
        <div class="container">
            <div class="collapse navbar-collapse" id="main-menu">
                <ul class="nav navbar-nav" id="main-menu-left">
                    <li><h1>Nortal .NET assignment</h1></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" id="user-actions">
                    <li><a href="http://www.nortal.lt/"><img src="assets/images/home.png"></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="all-products page visible">
            <div class="filters">
                <form>
                    <div class="filter-criteria">
                        <span>Manufacturer</span>
                        <label><input type="checkbox" name="manufacturer" value="apple">Apple</label>
                        <label><input type="checkbox" name="manufacturer" value="samsung">Samsung</label>
                        <label><input type="checkbox" name="manufacturer" value="htc">HTC</label>
                        <label><input type="checkbox" name="manufacturer" value="nokia">Nokia</label>
                        <label><input type="checkbox" name="manufacturer" value="zte">ZTE</label>
                        <label><input type="checkbox" name="manufacturer" value="sony">Sony</label>
                    </div>

                    <div class="filter-criteria">
                        <span>Storage</span>
                        <label><input type="checkbox" value="16" name="storage">16 GB</label>
                        <label><input type="checkbox" value="32" name="storage">32 GB</label>
                    </div>

                    <div class="filter-criteria">
                        <span>OS</span>
                        <label><input type="checkbox" value="android" name="os">Android</label>
                        <label><input type="checkbox" value="ios" name="os">iOS</label>
                        <label><input type="checkbox" value="windows" name="os">Windows</label>
                    </div>

                    <button id="clear_filters" class="btn btn-primary">Clear filters</button>
                </form>
            </div>

            <!-- Product in catalog -->
            <ul class="products-list">
                <li id="products-template" data-index="1">
                    <a href="#product/1">
                        <div class="product-photo"><img src="~/images/sony-xperia-z3.jpg" height="130" alt="Sony Xperia Z3" /></div>
                        <h2>Sony Xperia Z3</h2>
                        <div class="product-description">
                            <button class="btn btn-primary">Buy</button>
                            <p class="product-price">899 €</p>
                        </div>
                        <div class="highlight"></div>
                    </a>
                </li>
            </ul>

        </div>
        <!-- Product view -->
        <div class="single-product page" id="1">
            <div class="overlay"></div>
            <div class="preview-large">
                <h3>Sony Xperia Z3</h3>
                <img src="assets/images/sony-xperia-z3-large.jpg" />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tristique ipsum in efficitur pharetra.
                    Maecenas luctus ante in neque maximus, sed viverra sem posuere. Vestibulum lectus nisi, laoreet vel suscipit nec, feugiat at odio. Etiam eget tellus arcu.
                </p>
                <span class="close">×</span>
            </div>
        </div>
    </div>

    <footer class="bs-docs-footer">
        <div class="container">
            <p>
                Created by Nortal. Editing of this application is only allowed with the purpose of applying to Nortal.<br />
                We are not responsible for the content dynamically loaded or generated on this site and do not endorse the views expressed within that content.<br />
                <a href="#">Back to top</a>
            </p>
        </div>
    </footer>

    <environment include="Development">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="~/js/script.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/script.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
